// 自定义导航栏中间conent区域
.cu-bar{
	
	.content{
		
		pointer-events: auto;
		
		width: 60% !important;
		
		.search-form{
			text-align: left;
		}
	}
}

// 覆盖 mescroll的样式
/deep/.mescroll{
	.mescroll-empty{
		.empty-icon{
			margin: 0 auto;
		}
	}
}

// 覆盖u-table的样式
/deep/.u-table{
	.u-tr{
		.u-th{
			
		}
		.u-td{
			height: auto;
			word-break: break-all;
		}
	}
}

// 动画相关
@keyframes show {
	0% {
		transform: translateY(-50px);
	}

	60% {
		transform: translateY(40upx);
	}

	100% {
		transform: translateY(0px);
	}
}

@-webkit-keyframes show {
	0% {
		transform: translateY(-50px);
	}

	60% {
		transform: translateY(40upx);
	}

	100% {
		transform: translateY(0px);
	}
}